:root {
  --branding-color: #a2b480;
  --secondary-color: #f5f3e9;
  --heading-font-family: "Caprasimo", cursive;
  --default-font-family: "Sen", sans-serif;
}
body {
  font-family: var(--default-font-family);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: black;
  font-family: var(--heading-font-family);
  font-weight: bold;
  position: relative;
  z-index: 2;
}

h1 {
  font-size: 96px;
  font-family: var(--default-font-family);
  line-height: 1.5;
}

h3 {
  font-size: 64px;
}

h4 {
  font-size: 48px;
}

p {
  font-size: 16px;
  font-weight: normal;
  line-height: 30px;
}

.hero {
  position: relative;
  background: var(--secondary-color);
  text-align: center;
  padding: 160px 200px 0px;
}

.hero p {
  font-family: var(--default-font-family);
  font-size: 36px;
  font-weight: bold;
  margin: 0;
}
.hero h2 {
  font-family: var(--default-font-family);
  font-weight: normal;
  font-size: 24px;
  line-height: 1.5;
}

.text-alignement {
  text-align: start;
}
.btn-branding {
  background: var(--branding-color);
  border-radius: 30% 70% 38% 62% / 100% 0% 100% 0%;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.btn-branding-outline {
  color: var(--branding-color);
  border: 1px solid var(--branding-color);
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.project-description {
  padding: 80px 60px 0;
}

.weather-pic {
  border: 1px solid;
  border-color: grey;
}

.me-image {
  border-radius: 30% 70% 64% 36% / 36% 42% 58% 64%;
  max-width: 500px;
}
.content-container {
  padding: 60px 20px;
}

.content {
  margin: 30px;
}

.content h1 {
  font-size: 64px;
  line-height: 1;
}

.content h2 {
  font-size: 18px;
  font-family: var(--default-font-family);
}

.content h3 {
  font-size: 24px;
  line-height: 1.5;
  margin: 10px 0 0;
  font-family: var(--default-font-family);
}

.content p {
  font-size: 14px;
}

.logo {
  max-width: 60px;
}

.png-picture {
  max-width: 350px;
}

.grid {
  display: grid;
}

.two-column-grid {
  grid-template-columns: 1fr 1fr;
  grid-gap: 0;
}

.parent {
  position: relative;
  top: 0;
  left: 0;
}

.image1 {
  position: relative;
  bottom: 0;
  left: 0;
  z-index: 2;
}

.shape {
  position: absolute;
  top: 40px;
  right: 100px;
  height: 60%;
  width: 60%;
  z-index: 1;
  background: #f3c5b9;
  border-radius: 30% 70% 64% 36% / 36% 42% 58% 64%;
}

.bg-shape {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 15%;
  height: 15%;
  background: #f3ce69;
  border-radius: 0% 100% 100% 0% / 74% 100% 0% 26%;
  z-index: 1;
}

.contact-button {
  border-radius: 30% 70% 38% 62% / 100% 0% 100% 0%;
}

nav {
  padding: 20px 0;
}

nav ul {
  padding: 0;
  margin: 20px 0;
  line-height: 7px;
}
nav li {
  display: inline;
  list-style: none;
  margin-left: 15px;
}

nav a {
  text-decoration: none;
  color: #272142;
}

footer {
  margin: 30px;
}

footer .contact-box {
  background-color: #eddac2;
  padding: 30px 120px;
  border-radius: 10px;
}

footer .contact-box p {
  margin: 0;
}

footer .social-links a {
  margin: 0 20px;
  color: var(--branding-color);
  background-color: var(--secondary-color);
  padding: 10px 14px;
  font-size: 18px;
  border-radius: 50%;
  transition: all 150ms ease-in-out;
}

footer .social-links a:hover {
  color: white;
  background: var(--branding-color);
}
nav a:hover {
  transition: all 100ms ease-in-out;
}
nav a:hover {
  color: var(--branding-color);
}

footer .email-link {
  text-decoration: none;
  color: black;
  font-size: 24px;
  text-align: center;
}

footer .email-link:hover {
  color: var(--branding-color);
}

@media (max-width: 1300px) {
  .shape {
    width: 100%;
    right: 5px;
  }
}

@media (max-width: 960px) {
  h1 {
    font-size: 44px;
    line-height: 2;
  }
  h3 {
    font-size: 44px;
  }

  h4 {
    font-size: 18px;
  }
  .hero {
    padding: 80px 20px;
  }
  .project-description {
    padding: 0;
    text-align: center;
  }

  .content-container {
    text-align: center;
    padding: 0;
  }

  .png-picture {
    display: none;
  }

  .grid {
    grid-template-columns: 1fr;
  }
  .text-alignement {
    text-align: center;
  }

  .shape {
    display: none;
  }
}

@media (max-width: 420px) {
  .me-image {
    width: 300px;
  }
  .shape {
    display: none;
  }
  .bg-shape {
    display: none;
  }
}
